
#administrador{
    background-color: #F5F5F5;
    padding: 4rem 0;
    
}


.input__admin{
    display: flex;
    flex-direction: column;
    align-items: center;
}

.input__admin input {
    width: 90%;
    font-size: 1rem;
}

.input__admin select{
 width: 90%;
 padding: .5rem;
 margin: none;
outline: none;
border: none;   
}
.icon-img{
    display: block;
}

.admin{
    width: 40vw;
}

.administrador__titulo{
    
    margin-bottom: 1rem;
}

.button__administrador{
    background-color: #2A7AE4;
    color: white;
    border: none;
    width: 72%;
    padding: 1rem;
    margin-top: .5rem;
}  

.input__admin label{
    background: white;
    margin: .7rem;
    width: 70%;
    padding: .8rem 0 .4rem .8rem;
}

.input__admin input{
    margin: .5rem;
    border: none; 
    outline: none;
    color: #464646;
}

.input__admin  span{
    font-size: 12px;
    display: block;
    color: #A2A2A2;
}

.admin-icon{
   display: flex !important;
    gap: 1rem;
    justify-content: center;
}

.icon-img{
    width: 2rem;
}

.button-img{
    display: block;
    background: none;
    border: none;
}
@media screen and (min-width:768px){
    .admin{
        width: 25vw;
    }

    .administrador__titulo{
        font-size: 1.8rem;
        
        margin-bottom: 1rem;
    }
    
    
}

@media screen and (min-width:1150px){
    .input__admin label{
        background: white;
        margin: .7rem;
        width: 50%;
        padding: .8rem 0 .4rem .8rem;
    }

    .button__administrador{
        background-color: #2A7AE4;
        color: white;
        border: none;
        width: 50%;
        padding: 1rem;
        margin-top: .5rem;
    }  
}